*{
  margin: 0;
  padding: 0;
}

.myContainer {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.active{
  color: #b82cb1 !important;
}

.myContainer h3{
  margin: 35px 0;
  text-align: center;
  background-color: #b82cb1;
  color: #ffff;
  display: inline-block;
  padding: 10px;
  border-radius: 12px;
}

.inputRows{
  display: flex;
  align-items: center;
  justify-content: center;
}


/* Contact Page */
.contact_info_item{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  border-radius: 4px;
  box-shadow: 1px 0px 3px #1916198b;
}

.contact_info_item ion-icon{
  font-size: 2em;
  margin-right: 15px;
  color: #17c5e0;
}

.itemRow{
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact_info_item{
  height: 100px;
  width: auto;
  margin: 0 30px;
  padding: 0px 35px;
}

.contact_info_item .contact_info_content h4{
  font-size: 1em;
  margin: 0 0;
  color: #b82cb1;
}

.contact_info_item .contact_info_content span{
  font-size: .8em;
}

/* ================> Home Page <================== */

.homePage{
  min-height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.homePage::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 50%;
  background-color: #899cf05e !important;
  z-index: -1;
}

.homePage .home_div p{
  color: #17c5e0;
  font-size: 1.4em;
  text-align: center;
  font-weight: 500;
  margin-bottom: .5rem !important;
}


/* ================> About me page <=======================*/
.aboutMePage{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 80vh;
}

.aboutBox{
  height: 70vh;
  padding: 20px 45px;
  box-shadow: 1px 0 5px #2328296a;
}

.aboutBox .first_section{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40%;
  position: relative;
}

.aboutBox .first_section .imgSection{
  height: 90%;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 1px 0 5px #2328296a;
  /* margin-left: 40px; */
}

.aboutBox .first_section .imgSection img{
  height: 100%;
}

.aboutBox .first_section .nameProfession_section{
  margin-left: 30px;
}

.aboutBox .first_section .nameProfession_section h5{
  margin-bottom: 0 ;
  color: #17c5e0;
  font-size: 1.5em;
}

.aboutBox .first_section .nameProfession_section span,p{
  margin-left: 5px;
}

.aboutBox .first_section .nameProfession_section p span{
  color: #17c5e0;
}

.aboutBox .first_section .editBtn{
  position:absolute;
  top: 15px;
  right: 15px;
}

.aboutBox .first_section .editBtn input{  
  padding: 5px 8px;
  border: none;
  color: #18292c65;
}

.aboutBox .content_section{
  display: flex;
  /* align-items: center; */
  justify-content: center;
  height: 60%;
}

.aboutBox .content_section ul{
  margin-top: 30px;
}

.aboutBox .content_section ul li{
  list-style: none;
  margin: 5px 0 !important;
  font-size: 1.1em;
  font-weight: 500;
  color: #080d0ecf;
}

.aboutBox .content_section ul li span{
  color: #17c5e0;
  font-weight: 400;
  margin-left: 20px;
}

/* ============================> Errorpage<================= */

.errorPage404{
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.errorPage404 ion-icon{
  font-size: 7em;
  font-weight: 300;
}

.errorPage404 h1{
  font-size: 2.1em;
  font-weight: 500;
  text-align: center;
}

.errorPage404 p{
  font-size: 1.3em;
  text-align: center;
  color: #17c5e0;
}

