*{
  margin: 0;
  padding: 0;
}

.myContainer {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.active{
  color: #b82cb1 !important;
}

.myContainer h3{
  margin: 35px 0;
  text-align: center;
  background-color: #b82cb1;
  color: #ffff;
  display: inline-block;
  padding: 10px;
  border-radius: 12px;
}

.inputRows{
  display: flex;
  align-items: center;
  justify-content: center;
}


/* Contact Page */
.contact_info_item{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  border-radius: 4px;
  box-shadow: 1px 0px 3px #1916198b;
}

.contact_info_item ion-icon{
  font-size: 2em;
  margin-right: 15px;
  color: #17c5e0;
}

.itemRow{
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact_info_item{
  height: 100px;
  width: auto;
  margin: 0 30px;
  padding: 0px 35px;
}

.contact_info_item .contact_info_content h4{
  font-size: 1em;
  margin: 0 0;
  color: #b82cb1;
}

.contact_info_item .contact_info_content span{
  font-size: .8em;
}

/* ================> Home Page <================== */

.homePage{
  min-height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.homePage::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 50%;
  background-color: #899cf05e !important;
  z-index: -1;
}

.homePage .home_div p{
  color: #17c5e0;
  font-size: 1.4em;
  text-align: center;
  font-weight: 500;
  margin-bottom: .5rem !important;
}

